# 1. Chặn toàn bộ
/*

# 2. Mở cửa cho các file quản lý ở gốc
!/.gitignore
!/README.md
!/find_unused_jars.sh
!/Flink/
!/lakehouse/
!/student/

# 3. Thư mục /lakehouse/: Chỉ giữ script và 13 JAR chính
/lakehouse/*
!/lakehouse/field.py
!/lakehouse/pipeline_common.sh
!/lakehouse/deploy_platform.sh
!/lakehouse/submit_flink.sh

# WHITELIST 13 JAR (Dựa trên script find_unused)
!/lakehouse/iceberg-kafka-connect-runtime-*.jar
!/lakehouse/iceberg-aws-bundle-*.jar
!/lakehouse/hadoop-common-*.jar
!/lakehouse/httpclient5-*.jar
!/lakehouse/iceberg-flink-runtime-*.jar
!/lakehouse/flink-sql-connector-kafka-*.jar
!/lakehouse/flink-shaded-hadoop-*.jar
!/lakehouse/mysql-connector-*.jar
!/lakehouse/caffeine-*.jar
!/lakehouse/stax2-api-*.jar
!/lakehouse/woodstox-core-*.jar
!/lakehouse/commons-configuration2-*.jar
!/lakehouse/commons-collections-*.jar

# 4. Thư mục /student/: Chỉ giữ docker-compose
/student/*
!/student/docker-compose.yml

# 5. Chặn rác tuyệt đối
**/*.log
**/*.bak
**/*.save
**/.env
**/__pycache__/
**/venv/
